{% extends "base.html" %}
{% block content %}
  <h1>Discovered Address Detail : {{ address_string  }}</h1>

    <div class="Wrap">

      <div class="item">Peer ID : {{ address.peer_ID }}</div>
      <div class="item">Multiaddress : {{ address.multiaddress }}</div>
      <div class="item">Insert DTS : {{ address.insert_DTS }}</div>
      <div class="item">Address Ignored : {{ address.address_ignored }}</div>
      <div class="item">Reason Ignored : {{ address.ignored_reason }}</div>
      <div class="item">Address Type: {{ address.address_type }}</div>
      <div class="item">Address Source: {{ address.address_source }}</div>
      <div class="item">Address Global: {{ address.address_global }}</div>
      <div class="item">In Use : {{ address.in_use }}</div>
      <div class="item">Connect DTS : {{ address.connect_DTS }}</div>
      <div class="item">Peering Add DTS : {{ address.peering_add_DTS }}</div>
      <div class="item">Disconnect DTS : {{ address.dis_connect_DTS }}</div>
      <div class="item">Peering Remove DTS : {{ address.peer_remove_DTA }}</div>
      <div class="item">Reset DTS : {{ address.reset_DTS }}</div>
      <div class="item">Available : {{ address.available }}</div>

    </div>

{% endblock content %}
